.choices {
    padding: 3rem 2rem;
}

.choicesSubHeading {
    color: rgb(212, 149, 32);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.choicesHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.choicesHeading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(15, 15, 106);

}

.btn-container {
    width: 10%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .choices {
        padding: 1rem;
    }

}